{% extends 'base.html' %} {% block content %}

<div class="card">
  <div class="card-header">
    <h3>{{ customer_record.firstName }} {{ customer_record.lastName }}</h3>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Customer ID: </strong>{{ customer_record.id }}
      </li>
      <li class="list-group-item">
        <strong>Email: </strong>{{ customer_record.email }}
      </li>
      <li class="list-group-item">
        <strong>Phone: </strong>{{ customer_record.phone }}
      </li>
      <li class="list-group-item">
        <strong>Address: </strong>{{ customer_record.address }}
      </li>
      <li class="list-group-item">
        <strong>City: </strong>{{ customer_record.city }}
      </li>
      <li class="list-group-item">
        <strong>State: </strong>{{ customer_record.state }}
      </li>
      <li class="list-group-item">
        <strong>Zipcode: </strong>{{ customer_record.zipcode }}
      </li>
      <li class="list-group-item">
        <strong> Date of Creation: </strong>{{ customer_record.dateOfCreation }}
      </li>
    </ul>
  </div>
</div>

<br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger"
  >Delete</a
>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary"
  >Update</a
>

{% endblock content %}
